*{
    color: #ececec;
    font-family:'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif; ;
}

body {
    margin: 0;
    padding: 0;
}

html, body {
  height: 100%;
  background-color: #212121;   /* same as app background */
}

.app{
  background-color: #212121;
  display: flex; 
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: rgba(85, 85, 85, 0.7); 
  border-radius: 10px; 
  border: 2px solid transparent; 
  background-clip: padding-box; 
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(136, 136, 136, 0.9); 
}

.chats:active::-webkit-scrollbar-thumb {
  background-color: rgba(150, 150, 150, 0.6);
}